/* 
    Created on : 18/09/2019, 3:50:52 PM
    Author     : gregmclachlan
    Email      : boombana@gmail.com
*/

/* Body styles and resets */
body, .ui-widget {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* Header styles */
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    background-color: #8f8f8f;
    height: 370px;
    background: url('http://via.placeholder.com/1920x650') center #8f8f8f no-repeat;
    background-size: cover;
}

header h1 {
    position: absolute;
    margin: auto;
    color: white;
    top: 38%;
}

header p {
    position: absolute;
    margin: auto;
    color: white;
    top: 55%;
    font-weight: 100;
    font-size: 0.8em;
}

/* Content body styles */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-gap: 30px;
    max-width: 1060px;
    margin: 40px auto 35px;
}

.article {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 500px;
    width: 325px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #ebebeb;
}

.article img {
    position: absolute;
    width: 285px;
    padding: 20px;
    border-radius: 10%;
}

.article p {
    position: absolute;
    top: 245px;
    text-align: center;
    line-height: 1.4em;
    font-weight: 100;
    padding: 10px 25px;
}

.article .button {
    position: absolute;
    margin: 0 auto;
    font-weight: 700;
    letter-spacing: 0.3em;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
    bottom: 20px;
    border: 3px solid #333333;
    padding: 10px 20px;
    border-radius: 22px;
    -moz-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    color: initial;
}

/* Custom overrides for smaller screen styling */
@media (max-width: 760px) {
    header {
        background: url('http://via.placeholder.com/600x600') center #8f8f8f no-repeat !important;
        background-size: cover;
    }

    header h1 {
        font-size: 50px;
        text-align: center;
    }
    
    header p {
        top: 70%;
        line-height: 1.6em;
        text-align: center;
        padding: 0 20px 0 20px;
    }
    
    .article {
        width: 320px;
        height: 450px;
    }
    
    .article p {
        font-size: 0.8em;
    }
}